# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml

# ==============================
# Java / Maven
# ==============================
target/
*.class

# ==============================
# Spring Boot
# ==============================
*.log

# ==============================
# Node / Angular
# ==============================
node_modules/
dist/
.angular/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp